
server:
  port: 8081
#logging:
 # level:
  #  org:
   #   springframework: debug
#management.endpoints.web.exposure.include: *
management:
  endpoints:
    web:
      exposure:
        include: '*'
      
spring:
  security:
    user:
      name: user
      password: pass123
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb